<form method="POST">
    <input type="hidden" name ="ID" value="{{problem.ID}}">
    <input type="hidden" name ="name" value="{{problem.name}}">
    <main><k style="font-size:30px; color:yellow">{{notis}}</k></main>
    <a>INPUT</a>
    <textarea cols="90%" rows="5" name="input"></textarea>
    <a>OUTPUT</a>
    <textarea cols="90%" rows="5" name="output"></textarea>
    <button type="submit" style="cursor: pointer">Thêm</button></a>
</form>