<main>
    <form method="POST" class="form" id="form_sign_up" onsubmit="return testSubmit()">
        <h3 class="heading"> ĐĂNG KÝ </h3>
        <div class="spacer"></div>
        <div class="form-group">
            <label class="form-label">Mật khẩu cũ</label>
            <input required="" id="oldPassword" name="oldPassword" type="password" class="form-control">
        </div>


        <div class="form-group">
            <label class="form-label">Mật khẩu mới</label>
            <input required="" id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control" onblur="testPassword()">
            <noti class="from-label" id="test_password"></noti>
        </div>

        <div class="form-group">
            <label class="form-label">Nhập lại mật khẩu</label>
            <input required="" id="password_confirmation" name="password_confirmation" type="password" placeholder="Nhập lại mật khẩu" class="form-control" onblur="confirm()">
            <noti class="from-label" id="password_confirm"></noti>
        </div>
        {{#if message}}
        <br/>
        <noti>mật khẩu cũ không chính xác</noti>
        <br/>
        {{/if}}
        <input type="submit" value="Lưu">
    </form>
</main>

<script>
    function confirm()
    {
        const password = document.getElementById("password").value;
        const password_confirmation = document.getElementById("password_confirmation").value;
        if (password != password_confirmation)
            document.getElementById("password_confirm").innerHTML = "Mật khẩu không khớp";
            else
        document.getElementById("password_confirm").innerHTML = "";
    }
    function testPassword()
    {
        const password = document.getElementById("password").value;
        if (password.length < 6)
            document.getElementById("test_password").innerHTML="Mật khẩu phải không ít hơn 6 ký tự";
            else
            {
                document.getElementById("test_password").innerHTML="";
                const password_confirmation = document.getElementById("password_confirmation").value;
                if (password_confirmation!="")
                {
                if (password != password_confirmation)
                    document.getElementById("password_confirm").innerHTML = "Mật khẩu không khớp";
                    else
                    document.getElementById("password_confirm").innerHTML = "";
                }
            } 
    }
    function testSubmit()
    {
        const test_password = document.getElementById("test_password").innerHTML;
        const password_confirm = document.getElementById("password_confirm").innerHTML;
        if (test_password!="" || password_confirm!="")
            return false;
        return true;
    }
</script>